server:
  port: 8081

spring:
  application:
    name: finra-mock-provider

management:
  endpoints:
    web:
      exposure:
        include: health,metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
    com.mockfix: DEBUG